@charset "UTF-8";
@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
:root {
  --main-font: "PT-Sans", "Arial", sans-serif;
}

:root {
  --brand-color: #81b3d2;
  --brand-color-hover: #669ec0;
  --brand-color-active: #5496bd;
  --text-main: #000000;
  --text-secondary: #333333;
  --text-accent: #ffffff;
  --text-active: #766357;
  --bg-color: #ffffff;
  --bg-color-secondary: #eeeeee;
  --bg-layer: #3f5e72;
  --image-layer: #e5e5e5;
  --button-disabled: #e5e5e5;
  --input: #f2f2f2;
  --input-main: #e5e5e5;
  --check-color: #d5d5d5;
  --input-icon-bg: #e6e6e6;
  --form-deco: #d8d8d8;
  --copyright-active: #b3b3b3;
  --modal-bg: #f2f2f2;
  --photo-bg: #f2f2f2;
  --photo-bg-dark: #eaeaea;
  --photo-deco: #e5e5e5;
  --body-bg: #f2f2f2;
  --list-border: #d6d6d6;
}

html {
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-main);
  background-color: var(--body-bg);
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--main {
  color: var(--text-accent);
  background-color: var(--brand-color);
}
.button--main:hover {
  background-color: var(--brand-color-hover);
}
.button--main:focus {
  background-color: var(--brand-color-hover);
}
.button--main:active {
  background-color: var(--brand-color-active);
  color: rgba(255, 255, 255, 0.3);
}
.button--main:disabled {
  background-color: var(--button-disabled);
}

.label {
  color: var(--text-secondary);
  text-transform: uppercase;
}

.input {
  border: none;
  background-color: var(--input);
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-main);
}

.label-control {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.textarea {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--main-text);
  border: none;
  resize: none;
}

.header {
  position: relative;
  min-width: 320px;
  min-height: 56px;
}

.logo {
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 92.5px);
  max-height: 96px;
  order: 2;
  z-index: 2;
}
@media (min-width: 768px) {
  .logo {
    z-index: 10;
  }
}

.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-accent);
  text-align: center;
  text-transform: uppercase;
}
.navigation--closed .navigation__toggle::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 4px;
  top: 9px;
  left: 9px;
  background-color: var(--brand-color);
  box-shadow: 0 9px 0 0 var(--brand-color), 0 18px 0 0 var(--brand-color);
}
.navigation--closed .navigation__toggle:hover::before,
.navigation--closed .navigation__toggle:focus::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
}
.navigation--closed .navigation__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
}
.navigation--closed .navigation__list {
  display: none;
}
.navigation--opened .navigation__toggle::before,
.navigation--opened .navigation__toggle::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 4px;
  top: 17px;
  left: 7px;
  background-color: var(--bg-color);
}
.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
  box-shadow: none;
}
.navigation--opened .navigation__toggle:hover,
.navigation--opened .navigation__toggle:focus {
  opacity: 0.6;
}
.navigation--opened .navigation__toggle:active {
  opacity: 0.3;
}
.navigation--opened .navigation__list {
  display: block;
}
.navigation--nojs .navigation__toggle {
  display: none;
}
.navigation--nojs .navigation__list {
  display: block;
  position: absolute;
  top: 56px;
  z-index: 1;
}
@media (min-width: 768px) {
  .navigation {
    font-size: 14px;
    line-height: 21px;
    color: var(--text-main);
  }
  .navigation--closed .navigation__list, .navigation--opened .navigation__list, .navigation--nojs .navigation__list {
    display: flex;
  }
}

.navigation__toggle {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin: 8px 13px 8px auto;
  z-index: 4;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__wrapper {
  min-width: 100%;
}
@media (min-width: 768px) {
  .navigation__wrapper {
    min-width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .navigation__wrapper {
    min-width: 75%;
    margin: 0 auto;
  }
}

.navigation__list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color);
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background-color: var(--brand-color);
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}
.navigation__item:first-child {
  border-top: none;
}
.navigation__item:last-child {
  position: relative;
  border-bottom: none;
}
.navigation__item:last-child::after {
  position: absolute;
  content: "";
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .navigation__item {
    flex-basis: 20%;
    min-width: 153px;
    min-height: 56px;
    margin-bottom: 0;
    background-color: var(--bg-color);
    box-shadow: none;
    border-top: none;
    border-bottom: none;
  }
  .navigation__item:last-child::after {
    display: none;
  }
  .navigation__item:nth-child(2) {
    margin-right: 153px;
  }
}
@media (min-width: 1200px) {
  .navigation__item {
    flex-basis: 20%;
    min-width: 240px;
  }
  .navigation__item:nth-child(2) {
    margin-right: 240px;
  }
}

.navigation__link {
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding: 16px 0 12px;
}
.navigation__link:hover {
  background-color: var(--brand-color-hover);
}
.navigation__link:focus {
  background-color: var(--brand-color-hover);
  offset: none;
  position: relative;
  z-index: 10;
}
.navigation__link:active {
  background-color: var(--brand-color-active);
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .navigation__link {
    min-width: 153px;
    padding: 18px 0 17px;
  }
  .navigation__link:hover {
    background-color: transparent;
    color: var(--brand-color);
  }
  .navigation__link:focus {
    background-color: transparent;
    color: var(--brand-color);
  }
  .navigation__link:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation__link--active {
    color: var(--text-active);
  }
  .navigation__link--active:hover, .navigation__link--active:focus {
    color: var(--text-active);
  }
}
@media (min-width: 1200px) {
  .navigation__link {
    min-width: 240px;
  }
}

.promo {
  min-width: 320px;
  counter-set: advantages;
}

.promo__header {
  min-height: 389px;
  position: relative;
  background: var(--bg-layer) url("../img/background/bg-mobile.jpg") no-repeat center/cover;
  text-align: center;
  padding: 90px 19px 85px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__header {
    background: var(--bg-layer) url("../img/background/bg-mobile@2x.jpg") no-repeat center/cover;
  }
}
.promo__header::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 57px;
  background: url("../img/background/intro-triangle.svg") no-repeat center;
  left: 0;
  bottom: 0;
}
@media (min-width: 1200px) {
  .promo__header::after {
    height: 68px;
    background-position: bottom;
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .promo__header {
    min-height: 518px;
    padding: 77px 153px 91px;
    background: var(--bg-layer) url("../img/background/bg-desktop.jpg") no-repeat center/cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .promo__header {
    background: var(--bg-layer) url("../img/background/bg-desktop@2x.jpg") no-repeat center/cover;
  }
}
@media (min-width: 1200px) {
  .promo__header {
    padding: 78px 370px 90px;
  }
}

.promo__wrapper {
  min-width: 100%;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    min-width: 90%;
    margin: 0 auto 49px;
  }
}
@media (min-width: 1200px) {
  .promo__wrapper {
    min-width: 75%;
    margin: 0 auto 59px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 0;
}
@media (min-width: 768px) {
  .promo__image {
    width: 461px;
    height: 350px;
  }
}

.promo__title {
  padding: 0 10px;
  margin: 0 auto 35px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 21px;
    padding: 0 124px;
    margin: 0 auto 29px;
  }
  .promo__title br {
    display: none;
  }
}

.promo__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 auto 53px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__description {
    padding: 0 124px;
    margin: 0 auto 55px;
  }
}
@media (min-width: 1200px) {
  .promo__description {
    padding: 0 358px;
  }
}

.advantages-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-list__wrapper {
  min-width: 100%;
}
@media (min-width: 768px) {
  .advantages-list__wrapper {
    min-width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages-list__wrapper {
    min-width: 75%;
    margin: 0 auto;
  }
}

.advantages-list__item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.advantages-list__item:first-child::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 37px;
  background: #81b3d2 url("../img/background/triangle.svg") no-repeat center;
  background-color: #81b3d2;
  left: 0;
  top: -37px;
}
.advantages-list__item:last-of-type .advantages-list__container::after {
  display: none;
}
.advantages-list__item--size-xs .advantages-list__container {
  padding: 25px 35px;
}
@media (min-width: 768px) {
  .advantages-list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 256px;
  }
  .advantages-list__item:first-child::before {
    display: none;
  }
  .advantages-list__item:nth-of-type(2n) .advantage-list__wrapper-image {
    order: -1;
  }
  .advantages-list__item--size-xs {
    flex-basis: 33.3333333333%;
  }
}

.advantages-list__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 19px;
  min-height: 168px;
  background-color: var(--bg-color-secondary);
}
.advantages-list__container--theme-light {
  min-height: 191px;
  color: var(--text-accent);
  background-color: var(--brand-color);
}
.advantages-list__container--theme-light::after {
  display: none;
}
.advantages-list__container::after {
  display: block;
  position: absolute;
  content: "";
  width: auto;
  height: 1px;
  background-color: var(--list-border);
  left: 18px;
  right: 18px;
  bottom: 1px;
}
.advantages-list__container::before {
  display: block;
  counter-increment: advantages;
  content: "— №" counter(advantages) " —";
  text-align: center;
  margin: 0 auto 10px;
}
@media (min-width: 768px) {
  .advantages-list__container {
    flex-basis: 100%;
    min-width: 256px;
  }
  .advantages-list__container::after {
    display: none;
  }
  .advantages-list__container--theme-light {
    flex-basis: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .advantages-list__container {
    min-width: 400px;
  }
}

.advantages-list__title {
  order: -1;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages-list__title {
    font-size: 21px;
  }
}

.advantages-list__description {
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.advantage-list__wrapper-image {
  display: block;
  background-color: var(--image-layer);
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .advantage-list__wrapper-image {
    flex-basis: 66.6666666667%;
    height: auto;
  }
}

.advantages-list__item-image {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .advantages-list__item-image {
    height: auto;
  }
}

.advantages-list__sublist {
  margin: 23px auto 30px;
  padding: 0 10px 0 18px;
}
@media (min-width: 768px) {
  .advantages-list__sublist {
    margin: 0;
    padding: 0;
  }
}

.advantages-sublist {
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages-sublist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-sublist__item {
  padding: 8px 5px 22px 47px;
  position: relative;
}
.advantages-sublist__item--housing::before, .advantages-sublist__item--food::before, .advantages-sublist__item--souvenir::before {
  display: block;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}
.advantages-sublist__item--housing::before {
  background: url("../img/icons/icon-house.svg") no-repeat center;
}
@media (min-width: 768px) {
  .advantages-sublist__item--housing::before {
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
    top: 60px;
    left: calc(50% - 37.5px);
  }
}
.advantages-sublist__item--food .advantages-sublist__title {
  margin: 0 auto 16px 5px;
}
.advantages-sublist__item--food .advantages-sublist__description {
  margin: 0 0 0 5px;
}
.advantages-sublist__item--food::before {
  background: url("../img/icons/icon-burger.svg") no-repeat center;
}
@media (min-width: 768px) {
  .advantages-sublist__item--food::before {
    width: 76px;
    height: 68px;
    background-size: 76px 68px;
    top: 63px;
    left: calc(50% - 38px);
  }
}
.advantages-sublist__item--souvenir .advantages-sublist__title {
  margin: 0 auto 16px -3px;
}
.advantages-sublist__item--souvenir .advantages-sublist__description {
  margin: 0 0 0 -3px;
}
.advantages-sublist__item--souvenir::before {
  background: url("../img/icons/icon-gift.svg") no-repeat center;
}
@media (min-width: 768px) {
  .advantages-sublist__item--souvenir::before {
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
    top: 57px;
    left: calc(50% - 32px);
  }
}
@media (min-width: 768px) {
  .advantages-sublist__item {
    min-width: 256px;
    min-height: 330px;
    padding: 159px 20px 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages-sublist__item {
    min-width: 400px;
  }
}

.advantages-sublist__title {
  margin: 0 auto 16px 0;
}
@media (min-width: 768px) {
  .advantages-sublist__title {
    font-size: 21px;
  }
}

.advantages-sublist__description {
  text-transform: uppercase;
  margin: 0;
  color: var(--text-secondary);
}

.search {
  min-width: 320px;
}

.search__wrapper {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 38px 0 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search__wrapper {
    min-width: 90%;
    padding: 61px 0 0;
  }
}
@media (min-width: 1200px) {
  .search__wrapper {
    min-width: 75%;
    margin: 0 auto;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .search__title {
    font-size: 30px;
    margin: 0 auto 25px;
  }
}

.search__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .search__description {
    padding: 0 167px;
    margin: 0 auto 40px;
  }
}
@media (min-width: 1200px) {
  .search__description {
    margin: 0 auto 45px;
  }
}

.search__button {
  font-size: 21px;
  min-width: 284px;
  padding: 16px 49px;
  margin: 0 auto 49px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .search__button {
    min-width: 458px;
    font-size: 21px;
    padding: 15px 10px 17px;
    margin: 0 auto 58px;
  }
}
@media (min-width: 1200px) {
  .search__button {
    margin: 0 auto 66px;
  }
}

.search__map {
  width: 100%;
  margin: 0;
}

.search_map-iframe {
  display: block;
  width: 100%;
  border: none;
}

.footer {
  min-width: 320px;
}

.footer__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 23px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    min-width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    min-width: 75%;
    padding: 36px 120px;
  }
}

.footer__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 33px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__slogan {
    margin: 0;
  }
}

.footer__social {
  margin: 0 auto 34px;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
  }
}

.social-list {
  min-width: 156px;
  max-width: 272px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  min-height: 48px;
  background-color: var(--brand-color);
  cursor: pointer;
  margin: 0 6px 6px 0;
}
.social-list__item:last-of-type {
  margin: 0 0 6px 0;
}
.social-list__item:hover {
  background-color: var(--brand-color-hover);
}
.social-list__item:focus {
  background-color: var(--brand-color-hover);
}
.social-list__item:active {
  background-color: var(--brand-color-active);
}

.social-list__icon {
  fill: var(--text-accent);
}
.social-list__icon:active {
  opacity: 0.3;
}

.copyright {
  min-width: 130px;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  color: var(--text-main);
  text-decoration: none;
  text-transform: uppercase;
}
.copyright__link:hover {
  color: var(--brand-color);
}
.copyright__link:hover .copyright__icon {
  fill: var(--brand-color);
}
.copyright__link:focus {
  color: var(--brand-color);
}
.copyright__link:focus .copyright__icon {
  fill: var(--brand-color);
}
.copyright__link:active {
  color: var(--copyright-active);
}
.copyright__link:active .copyright__icon {
  fill: var(--copyright-active);
}

.copyright__icon {
  fill: var(--main-text);
}

.photos {
  min-width: 320px;
}

.photos__wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .photos__wrapper {
    min-width: 90%;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .photos__wrapper {
    min-width: 75%;
    padding: 0;
  }
}

.photos__header {
  display: flex;
  position: relative;
  justify-content: center;
  background: var(--bg-layer) url("../img/background/bg-mobile.jpg") no-repeat 0 100%/cover;
  min-height: 158px;
  margin-bottom: 33px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .photos__header {
    background: var(--bg-layer) url("../img/background/bg-mobile@2x.jpg") no-repeat 0 100%/cover;
  }
}
.photos__header::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 57px;
  background: url("../img/background/intro-triangle.svg") no-repeat center;
  left: 0;
  bottom: 0;
}
@media (min-width: 1200px) {
  .photos__header::after {
    height: 68px;
    background-position: bottom;
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .photos__header {
    min-height: 290px;
    background: var(--bg-layer) url("../img/background/bg-desktop.jpg") no-repeat 0 100%/cover;
    margin-bottom: 62px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .photos__header {
    background: var(--bg-layer) url("../img/background/bg-desktop@2x.jpg") no-repeat 0 100%/cover;
  }
}
@media (min-width: 1200px) {
  .photos__header {
    min-height: 301px;
    margin-bottom: 100px;
  }
}

.photos__image {
  margin: 52px auto 67px;
}
@media (min-width: 768px) {
  .photos__image {
    width: 457px;
    height: 78px;
    margin: 95px auto 117px;
  }
}
@media (min-width: 1200px) {
  .photos__image {
    width: 460px;
    height: 80px;
    margin: 101px auto 120px;
  }
}

.photos__title {
  margin: 0 auto 21px;
}
@media (min-width: 768px) {
  .photos__title {
    font-size: 30px;
    margin: 0 auto 35px;
  }
}
@media (min-width: 1200px) {
  .photos__title {
    padding: 0 40px;
  }
}

.photos__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  margin: 0 auto 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .photos__description {
    margin: 0 auto 63px;
  }
}
@media (min-width: 1200px) {
  .photos__description {
    padding: 0 40px;
    margin: 0 auto 65px;
  }
}

.photos__list {
  padding: 24px 0 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photos__list {
    padding: 0;
    border: none;
  }
}

.photo-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
@media (min-width: 768px) {
  .photo-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .photo-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.photo-list__item::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--photo-deco);
  bottom: -25px;
  left: 0;
}
@media (min-width: 768px) {
  .photo-list__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo-list__item:first-of-type {
    grid-column: 1/-1;
  }
  .photo-list__item::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .photo-list__item:first-of-type {
    min-height: 400px;
  }
}

.photo-list__item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0;
}
@media (min-width: 768px) {
  .photo-list__item-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: var(--photo-bg);
  }
  .photo-list__item-wrapper--theme-dark {
    background-color: var(--photo-bg-dark);
  }
}
@media (min-width: 1200px) {
  .photo-list__item-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo-list__item-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .photo-list__item-description {
    margin-bottom: 0;
  }
}

.photo-list__wrapper-image {
  display: block;
  background-color: var(--image-layer);
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .photo-list__wrapper-image {
    height: auto;
  }
}
@media (min-width: 1200px) {
  .photo-list__wrapper-image {
    height: 100%;
  }
}

.photo-list__item-image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .photo-list__item-image {
    height: auto;
  }
}
@media (min-width: 1200px) {
  .photo-list__item-image {
    height: 100%;
    object-fit: cover;
  }
}

.photo-list__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 1px 0;
}
@media (min-width: 1200px) {
  .photo-list__title {
    color: var(--text-accent);
  }
}

.photo-list__author {
  margin: 0 auto 0 0;
  color: var(--text-secondary);
}
@media (min-width: 1200px) {
  .photo-list__author {
    color: var(--text-accent);
  }
}

.photo-list__like-container {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 23px 1fr;
  gap: 14px;
}

.photo-list__button {
  display: block;
  width: 23px;
  height: 21px;
  cursor: pointer;
}

.photo-list__counter {
  font-weight: 700;
  margin-top: 5px;
}
@media (min-width: 1200px) {
  .photo-list__counter {
    color: var(--text-accent);
  }
}

.photo-list__icon {
  fill: var(--text-main);
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .photo-list__icon {
    fill: var(--text-accent);
    opacity: 1;
  }
}

.video {
  min-width: 320px;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px 20px 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video__wrapper {
    min-width: 90%;
    padding: 58px 60px 40px;
  }
}
@media (min-width: 1200px) {
  .video__wrapper {
    min-width: 75%;
    padding: 62px 40px 120px;
  }
}

.video__title {
  margin: 0 auto 27px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
    margin: 0 auto 34px;
  }
}
@media (min-width: 1200px) {
  .video__title {
    font-size: 30px;
    margin: 0 auto 35px;
  }
}

.video__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 38px;
}
@media (min-width: 768px) {
  .video__description {
    margin: 0 auto 66px;
  }
}
@media (min-width: 1200px) {
  .video__description {
    margin: 0 auto 64px;
  }
}

.video__container {
  min-width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .video__container {
    min-height: 500px;
  }
}
@media (min-width: 1200px) {
  .video__container {
    min-width: 800px;
  }
}

.video__image {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
@media (min-width: 768px) {
  .video__image {
    min-height: 500px;
  }
}

.video__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  background: transparent url("../img/icons/play-icon.svg") no-repeat center;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
.video__button:hover {
  cursor: pointer;
}

.feedback {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.feedback__header {
  margin-bottom: 36px;
}

.feedback__title {
  margin: 0 auto 24px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}

.feedback__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto 53px;
}

.feedback__form {
  margin-bottom: 24px;
}

.form {
  min-width: 280px;
}
@media (min-width: 768px) {
  .form {
    min-width: 90%;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 70px;
    margin: 0 auto 64px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form__wrapper {
    gap: 73px 128px;
    padding: 0 40px;
  }
}

.form__container {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 16px;
  border: none;
  padding: 0;
  margin: 0 auto 64px;
}
@media (min-width: 768px) {
  .form__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .form__container:nth-child(n+3) {
    grid-column: 1/-1;
  }
  .form__container--impressions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 36px;
  }
  .form__container--attraction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
    padding: 0 84px;
  }
  .form__container:first-of-type::before {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--form-deco);
    top: 0;
    bottom: 0;
    right: -36px;
  }
  .form__container:nth-child(1) > .form__title::after, .form__container:nth-child(1) > .form__title::before, .form__container:nth-child(2) > .form__title::after, .form__container:nth-child(2) > .form__title::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .form__container--impressions {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding: 0 53px;
  }
  .form__container--attraction {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 64px;
  }
  .form__container--textarea {
    padding: 0 96px;
  }
  .form__container:first-of-type::before {
    right: -66px;
  }
}

.form__title {
  margin: 0 auto 20px;
}
.form__title::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--input-main);
  top: -24px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 21px;
    margin: 0 auto 28px;
  }
  .form__title::after, .form__title::before {
    display: block;
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: var(--form-deco);
    top: 13px;
  }
  .form__title::after {
    right: 0;
  }
  .form__title::before {
    left: 0;
  }
  .form__title--contacts {
    margin: 0 auto 28px 0;
  }
}
@media (min-width: 1200px) {
  .form__title::after, .form__title::before {
    width: 280px;
  }
  .form__title--contacts {
    margin: 0 auto 30px 30px;
  }
}

.form__input {
  position: relative;
  min-width: 280px;
  min-height: 58px;
  padding: 16px;
}
.form__input:hover {
  background-color: var(--input-main);
}
.form__input:focus {
  background-color: var(--bg-color);
  padding: 12px 16px 12px 12px;
  outline: none;
  border: 4px solid var(--input-main);
}
.form__input:active {
  background-color: var(--bg-color);
  padding: 12px 16px 12px 12px;
  outline: none;
  border: 4px solid var(--input-main);
}

.form__label {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
}
@media (min-width: 768px) {
  .form__label--phone, .form__label--email {
    margin-left: 18px;
  }
}
@media (min-width: 1200px) {
  .form__label--phone, .form__label--email {
    margin-left: 0;
  }
}

.form__label--phone::after,
.form__label--email::after {
  position: absolute;
  display: flex;
  content: "";
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  bottom: 0;
  right: 0;
}

.form__label--phone::after {
  background: var(--input-icon-bg) url("../img/icons/phone-icon.svg") no-repeat center;
}

.form__label--email::after {
  background: var(--input-icon-bg) url("../img/icons/mail-icon.svg") no-repeat center;
}

.form__label-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 46px;
}

.form-label__text {
  margin: 0 auto 0 16px;
}

.form-label__text-control {
  display: flex;
  align-items: center;
  margin: 0 auto 0 16px;
  padding: 0 0 0 46px;
  position: relative;
}
.form-label__text-control::before {
  display: block;
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: var(--input);
  left: -16px;
  border-radius: 50%;
}
.form-label__text-control--checkbox::before {
  border-radius: 4px;
}
.form-label__text-control:hover::before {
  background-color: var(--input-main);
}
.form-label__text-control:active::before {
  background-color: var(--check-color);
}

.form__radio,
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__radio:focus + .form-label__text-control::before, .form__radio:focus + .form-label__text-control--checkbox::before,
.form__checkbox:focus + .form-label__text-control::before,
.form__checkbox:focus + .form-label__text-control--checkbox::before {
  background-color: var(--input-main);
}

.form__radio:checked + .form-label__text-control::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--text-secondary);
  top: 5px;
  left: 0;
}

.form__checkbox:checked + .form-label__text-control--checkbox::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/icons/checkbox-tick.svg") no-repeat center;
  left: -2px;
}

.form__radio:checked + .form-label__text-control:active::after,
.form__checkbox:checked + .form-label__text-control:active::after {
  opacity: 0.3;
}

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 16px;
  background-color: var(--input);
}

.form__button {
  min-width: 281px;
  margin: 0 auto 3px;
  padding: 18px 33px 14px;
}
@media (min-width: 768px) {
  .form__button {
    min-width: 324px;
    padding: 18px 55px 14px 54px;
    margin: 0 auto 0 0;
  }
}
@media (min-width: 1200px) {
  .form__button {
    min-width: 384px;
  }
}

.form__notice {
  font-size: 12px;
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: right;
  margin: 0 0 0 auto;
}
@media (min-width: 768px) {
  .form__notice {
    margin: 20px 0 0 auto;
  }
}

.form-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.modal {
  width: 320px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
@media (min-width: 768px) {
  .modal {
    width: 640px;
  }
  .modal--error {
    width: 400px;
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.modal__wrapper--error {
  padding: 45px 41px 35px;
}
.modal__wrapper--accept {
  padding: 39px 38px 0;
  margin: 0 auto 5px;
}
@media (min-width: 768px) {
  .modal__wrapper--error {
    padding: 50px 46px 49px;
  }
  .modal__wrapper--accept {
    padding: 53px 98px 0;
  }
}

.modal__title {
  margin: 0 auto 37px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
  }
}

.modal__description {
  font-size: 18px;
  line-height: 26px;
  color: var(--text-secondary);
  text-align: center;
  margin: 0 auto 28px;
}
@media (min-width: 768px) {
  .modal__description {
    margin: 0 auto 25px;
  }
}

.modal__button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
  padding: 20px;
}

.modal__button {
  min-width: 180px;
  padding: 18px 61px 14px;
}
.modal__button--accept {
  min-width: 280px;
  padding: 18px 61px 14px;
}
.modal__button:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal__button {
    min-width: 272px;
    padding: 18px 108px 14px;
  }
  .modal__button--accept {
    min-width: 458px;
    padding: 18px 140px 14px;
  }
}

.modal--close {
  display: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-container {
  flex: 1 1 auto;
}
/*# sourceMappingURL=style.css.map */