@use "../global/variables.scss";

.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button--main {
  color: var(--text-accent);
  background-color: var(--brand-color);

  &:hover {
    background-color: var(--brand-color-hover);
  }

  &:focus {
    background-color: var(--brand-color-hover);
  }

  &:active {
    background-color: var(--brand-color-active);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: var(--button-disabled);
  }
}
