.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button--main {
  color: var(--text-accent);
  background-color: var(--brand-color);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
