@use "../global/variables.scss";

.copyright {
  min-width: 143px;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: var(--text-main);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: var(--brand-color);

    .copyright__icon {
      fill: var(--brand-color);
    }
  }

  &:active {
    color: var(--copyright-active);

    .copyright__icon {
      fill: var(--copyright-active);
    }
  }
}

.copyright__icon {
  fill: var(--main-text);
}
