.copyright {
  min-width: 143px;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: var(--text-main);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: var(--brand-color);
  }

  &:active {
    color: #b3b3b3;
  }

  &:hover .copyright__icon {
    fill: var(--brand-color);
  }

  &:active .copyright__icon {
    fill: #b3b3b3;
  }
}

.copyright__icon {
  fill: var(--main-text);
}
