@use "../global/variables.scss";

.feedback {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.feedback__header {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--bg-layer);
  background-image: url("../img/background/bg-mobile.jpg");
  background-image: image-set(url("../img/background/bg-mobile.webp") 1x,
                    url("../img/background/bg-mobile.jpg") 1x);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  min-height: 158px;
  margin-bottom: 36px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-mobile@2x.jpg");
    background-image: image-set(url("../img/background/bg-mobile@2x.webp") 2x,
                      url("../img/background/bg-mobile@2x.jpg") 2x);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 57px;
    background: url("../img/background/intro-triangle.svg") no-repeat center;
    left: 0;
    bottom: 0;

    @media (min-width: variables.$desktop-width) {
      height: 68px;
      background-position: bottom;
      background-size: 100%;
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 290px;
    background-image: url("../img/background/bg-tablet.jpg");
    background-image: image-set(url("../img/background/bg-tablet.webp") 1x,
                      url("../img/background/bg-tablet.jpg") 1x);
                      margin-bottom: 64px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-tablet@2x.jpg");
      background-image: image-set(url("../img/background/bg-tablet@2x.webp") 2x,
                        url("../img/background/bg-tablet@2x.jpg") 2x);
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 301px;
    background-image: url("../img/background/bg-desktop.jpg");
    background-image: image-set(url("../img/background/bg-desktop.webp") 1x,
                      url("../img/background/bg-desktop.jpg") 1x);
                      margin-bottom: 113px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-desktop@2x.jpg");
    background-image: image-set(url("../img/background/bg-desktop@2x.webp") 2x,
                      url("../img/background/bg-desktop@2x.jpg") 2x);
  }
}

.feedback__image {
  margin: 52px auto 67px;

  @media (min-width: variables.$tablet-width) {
    width: 457px;
    height: 78px;
    margin: 95px auto 117px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 460px;
    height: 80px;
    margin: 101px auto 120px;
  }
}

.feedback__title {
  margin: 0 auto 24px;
  padding: 0 10px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin-bottom: 22px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 32px;
  }
}

.feedback__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto 53px;

  br {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 106px;

    br {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.feedback__form {
  margin-bottom: 26px;
}
