@use "../global/variables.scss";
@use "./title.scss";

.feedback {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.feedback__header {
  margin-bottom: 36px;
}

.feedback__title {
  margin: 0 auto 24px;
}

.feedback__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 53px;
}

.feedback__form {
  margin-bottom: 24px;
}
