@use "../global/variables.scss";

.feedback {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.feedback__header {
  margin-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 113px;
  }
}

.feedback__title {
  margin: 0 auto 24px;
  padding: 0 10px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin-bottom: 22px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 32px;
  }
}

.feedback__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto 53px;

  br {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 106px;

    br {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.feedback__form {
  margin-bottom: 26px;
}
