@use "../global/variables.scss";

.logo {
  position: absolute;
  display: block;
  left: calc(50% - 185px / 2);
  max-height: 96px;
  order: 2;
  z-index: 2;

  &--nojs {
    bottom: -96px;
  }

  @media (min-width: variables.$tablet-width) {
    top: 0;
    z-index: 10;
  }
}
