@use "../global/variables.scss";

.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-accent);
  text-align: center;
  text-transform: uppercase;

  &--closed {
    .navigation__toggle::before {
      position: absolute;
      content: "";
      width: 23px;
      height: 4px;
      top: 9px;
      left: 9px;
      background-color: var(--brand-color);
      box-shadow: 0 9px 0 0 var(--brand-color), 0 18px 0 0 var(--brand-color);
    }

    .navigation__toggle:hover::before,
    .navigation__toggle:focus::before {
      background-color: rgba(129, 179, 210, 0.6);
      box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
    }

    .navigation__toggle:active::before {
      background-color: rgba(129, 179, 210, 0.3);
      box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
    }

    .navigation__list {
      display: none;
    }
  }

  &--opened {
    .navigation__toggle::before,
    .navigation__toggle::after {
      position: absolute;
      content: "";
      width: 27px;
      height: 4px;
      top: 17px;
      left: 7px;
      background-color: var(--bg-color);
    }

    .navigation__toggle::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    .navigation__toggle::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }

    .navigation__toggle:hover,
    .navigation__toggle:focus {
      opacity: 0.6;
    }

    .navigation__toggle:active {
      opacity: 0.3;
    }

    .navigation__list {
      display: block;
    }
  }

  &--nojs {
    .navigation__toggle {
      display: none;
    }

    .navigation__list {
      display: block;
      position: absolute;
      top: 56px;
      z-index: 1;
    }
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: var(--text-main);

    &--closed .navigation__list,
    &--opened .navigation__list,
    &--nojs .navigation__list {
      display: flex;
    }
  }
}

.navigation__toggle {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin: 8px 13px 8px auto;
  z-index: 4;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__wrapper {
  min-width: 100%;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto;
  }
}

.navigation__list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color);
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background-color: var(--brand-color);
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    position: relative;
    border-bottom: none;

    &::after {
      position: absolute;
      content: "";
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: variables.$tablet-width) {
    flex-basis: 20%;
    min-width: 153px;
    min-height: 56px;
    margin-bottom: 0;
    background-color: var(--bg-color);
    box-shadow: none;
    border-top: none;
    border-bottom: none;

    &:last-child::after {
      display: none;
    }

    &:nth-child(2) {
      margin-right: 153px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    flex-basis: 20%;
    min-width: 240px;

    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}

.navigation__link {
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding: 16px 0 12px;

  &:hover {
    background-color: var(--brand-color-hover);
  }

  &:focus {
    background-color: var(--brand-color-hover);
    offset: none;
    position: relative;
    z-index: 10;
  }

  &:active {
    background-color: var(--brand-color-active);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    min-width: 153px;
    padding: 18px 0 17px;

    &:hover {
      background-color: transparent;
      color: var(--brand-color);
    }

    &:focus {
      background-color: transparent;
      color: var(--brand-color);
    }

    &:active {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3);
    }

    &--active {
      color: var(--text-active);

      &:hover,
      &:focus {
        color: var(--text-active);
      }
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 240px;
  }
}
