@use "../global/variables.scss";

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-accent);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: var(--text-main);
  }
}

.navigation__toogle {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url("../img/icons/burger.svg") no-repeat center;
  margin: 8px 13px 8px auto;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__wrapper {
  min-width: 100%;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto;
  }
}

.navigation__list {
  // display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background-color: var(--brand-color);

  &:not(:last-of-type) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    margin-bottom: 1px;
  }

  &:not(:first-of-type) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  @media (min-width: variables.$tablet-width) {
    flex-basis: 25%;
    min-height: 56px;
    margin-bottom: 0;
    background-color: var(--bg-color);
    box-shadow: none;

    &--catalog {
      margin-right: 156px;
    }

    &:not(:last-of-type) {
      box-shadow: none;
    }

    &:not(:first-of-type) {
      box-shadow: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    flex-basis: 25%;

    &--catalog {
      margin-right: 240px;
    }
  }
}

.navigation__link {
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding: 17px 0 12px;

  @media (min-width: variables.$tablet-width) {
    min-width: 153px;
    padding: 18px 0 17px;

    &--active {
      color: var(--text-active);
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 240px;
  }
}
