@use "../global/variables.scss";

.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-accent);
  text-align: center;
  text-transform: uppercase;

  &--closed .navigation__toogle::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 4px;
    top: 9px;
    left: 9px;
    background-color: var(--brand-color);
    box-shadow: 0 9px 0 0 var(--brand-color), 0 18px 0 0 var(--brand-color);
  }

  &--closed .navigation__toogle:hover::before {
    background-color: rgba(129, 179, 210, 0.6);
    box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
  }

  &--closed .navigation__toogle:active::before {
    background-color: rgba(129, 179, 210, 0.3);
    box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
  }

  &--closed .navigation__list {
    display: none;
  }

  &--opened .navigation__toogle::before,
  &--opened .navigation__toogle::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 4px;
    top: 17px;
    left: 7px;
    background-color: var(--bg-color);
  }

  &--opened .navigation__toogle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened .navigation__toogle::after {
    transform: rotate(-45deg);
  }

  &--opened .navigation__toogle:hover::before,
  &--opened .navigation__toogle:hover::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &--opened .navigation__toogle:active::before,
  &--opened .navigation__toogle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &--opened .navigation__list {
    display: block;
  }

  &--nojs .navigation__toogle {
    display: none;
  }

  &--nojs .navigation__list {
    display: block;
    position: absolute;
    top: 0;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: var(--text-main);

    &--closed .navigation__list,
    &--opened .navigation__list,
    &--nojs .navigation__list {
      display: flex;
    }
  }
}

.navigation__toogle {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin: 8px 13px 8px auto;
  z-index: 4;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__wrapper {
  min-width: 100%;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto;
  }
}

.navigation__list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background-color: var(--brand-color);

  &:not(:last-of-type) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    margin-bottom: 1px;
  }

  &:not(:first-of-type) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  @media (min-width: variables.$tablet-width) {
    flex-basis: 25%;
    min-height: 56px;
    margin-bottom: 0;
    background-color: var(--bg-color);
    box-shadow: none;

    &--catalog {
      margin-right: 156px;
    }

    &:not(:last-of-type) {
      box-shadow: none;
    }

    &:not(:first-of-type) {
      box-shadow: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    flex-basis: 25%;

    &--catalog {
      margin-right: 240px;
    }
  }
}

.navigation__link {
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding: 17px 0 12px;

  @media (min-width: variables.$tablet-width) {
    min-width: 153px;
    padding: 18px 0 17px;

    &--active {
      color: var(--text-active);
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 240px;
  }
}
