@use "../global/variables.scss";

.photos {
  min-width: 320px;
}

.photos__header {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--bg-layer);
  background-image: url("../img/background/bg-mobile.jpg");
  background-image: image-set(url("../img/background/bg-mobile.webp") 1x,
                    url("../img/background/bg-mobile.jpg") 1x);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  min-height: 158px;
  margin-bottom: 39px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-mobile@2x.jpg");
    background-image: image-set(url("../img/background/bg-mobile@2x.webp") 2x,
                      url("../img/background/bg-mobile@2x.jpg") 2x);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 57px;
    background: url("../img/background/intro-triangle.svg") no-repeat center;
    left: 0;
    bottom: 0;

    @media (min-width: variables.$desktop-width) {
      height: 68px;
      background-position: bottom;
      background-size: 100%;
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 290px;
    background-image: url("../img/background/bg-tablet.jpg");
    background-image: image-set(url("../img/background/bg-tablet.webp") 1x,
                      url("../img/background/bg-tablet.jpg") 1x);
    margin-bottom: 66px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-tablet@2x.jpg");
      background-image: image-set(url("../img/background/bg-tablet@2x.webp") 2x,
                        url("../img/background/bg-tablet@2x.jpg") 2x);
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 301px;
    background-image: url("../img/background/bg-desktop.jpg");
    background-image: image-set(url("../img/background/bg-desktop.webp") 1x,
                      url("../img/background/bg-desktop.jpg") 1x);
    margin-bottom: 98px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-desktop@2x.jpg");
    background-image: image-set(url("../img/background/bg-desktop@2x.webp") 2x,
                      url("../img/background/bg-desktop@2x.jpg") 2x);
  }
}

.photos__image {
  margin: 52px auto 67px;

  @media (min-width: variables.$tablet-width) {
    width: 457px;
    height: 78px;
    margin: 95px auto 117px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 460px;
    height: 80px;
    margin: 101px auto 120px;
  }
}

.photos__wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    padding: 0;
  }
}

.photos__title {
  margin: 0 auto 24px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin: 0 auto 32px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 40px;
  }
}

.photos__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  margin: 0 auto 36px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 auto 81px;

    br {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 89px;
  }
}

.photos__list {
  position: relative;
  padding: 26px 0 25px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #e5e5e5;
    left: -20px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }
  }
}
