@use "../global/variables.scss";
@use "./title.scss";

.promo {
  min-width: 320px;
  counter-set: advantages;
}

.promo__header {
  min-height: 389px;
  position: relative;
  background-color: var(--bg-layer);
  background-image: url("../img/background/bg-mobile.jpg");
  background-image: image-set(url("../img/background/bg-mobile.webp") 1x,
                    url("../img/background/bg-mobile.jpg") 1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 90px 19px 85px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-mobile@2x.jpg");
    background-image: image-set(url("../img/background/bg-mobile@2x.webp") 2x,
                      url("../img/background/bg-mobile@2x.jpg") 2x);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 57px;
    background: url("../img/background/intro-triangle.svg") no-repeat center;
    left: 0;
    bottom: 0;

    @media (min-width: variables.$desktop-width) {
      height: 68px;
      background-position: bottom;
      background-size: 100%;
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 518px;
    padding: 77px 153px 91px;
    background-image: url("../img/background/bg-desktop.jpg");
    background-image: image-set(url("../img/background/bg-desktop.webp") 1x,
                      url("../img/background/bg-desktop.jpg") 1x);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-desktop@2x.jpg");
      background-image: image-set(url("../img/background/bg-desktop@2x.webp") 2x,
                        url("../img/background/bg-desktop@2x.jpg") 2x);
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 370px 90px;
  }
}

.promo__wrapper {
  min-width: 100%;
  margin-bottom: 34px;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    margin: 0 auto 49px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto 59px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 0;

  @media (min-width: variables.$tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.promo__title {
  padding: 0 10px;
  margin: 0 auto 35px;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    padding: 0 124px;
    margin: 0 auto 29px;

    br {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0 300px;
    }
  }
}

.promo__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 auto 53px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding: 0 124px;
    margin: 0 auto 55px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 358px;
    margin: 0 auto 45px;
  }
}
