@use "../global/variables.scss";

.search {
  min-width: 320px;
}

.search__wrapper {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 38px 0 10px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    padding: 61px 0 0;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin: 0 auto 25px;
  }
}

.search__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0 10px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 167px;
    margin: 0 auto 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 45px;
  }
}

.search__button {
  min-width: 284px;
  padding: 16px 49px;
  margin: 0 auto 49px;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    min-width: 458px;
    font-size: 21px;
    padding: 15px 10px 17px;
    margin: 0 auto 58px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 66px;
  }
}

.search__map {
  width: 100%;
  margin: 0;
}

.search_map-iframe {
  display: block;
  width: 100%;
  border: none;
}
