@use "../global/variables.scss";

.search {
  min-width: 320px;
}

.search__wrapper {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 38px 0 10px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    min-width: 90%;
    padding: 60px 0 0;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 75%;
    margin: 0 auto;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin: 0 auto 31px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 30px;
    margin: 0 auto 32px;
  }
}

.search__description {
  color: var(--text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0 15px;

  br {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0 160px;
    margin: 0 auto 43px;

    br {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 47px;
  }
}

.search__button {
  font-size: 21px;
  min-width: 284px;
  padding: 16px 49px;
  margin: 0 auto 49px;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    min-width: 458px;
    font-size: 21px;
    padding: 15px 10px 17px;
    margin: 0 auto 58px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 66px;
  }
}

.search__map {
  width: 100%;
  min-height: 350px;
  background: var(--bg-color-secondary) url("../img/background/map-desktop.png") no-repeat center;
  margin: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/map-desktop@2x.png");
  }
}

.search__map-iframe {
  display: block;
  width: 100%;
  border: none;
}
