.social-list {
  min-width: 156px;
  max-width: 272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  min-height: 46px;
  background-color: var(--brand-color);
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social-list__icon {
  fill: var(--text-accent);

  &:active {
    opacity: 0.3;
  }
}
