:root {
  --brand-color: #81b3d2;
  --text-main: #000000;
  --text-secondary: #333333;
  --text-accent: #ffffff;
  --text-active: #766357;
  --bg-color: #ffffff;
  --bg-color-secondary: #eeeeee;
}

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
